.container {
  margin-bottom: 10px;
  width: 100%;
}

.label {
  margin-bottom: 1px;
  font-weight: normal;
  color: rgb(44, 41, 41);
}

.input {
  background-color: rgb(235, 225, 225);
  border: none;
  padding: 10px;
  width: 100%;
}
.input:focus {
  outline: none;
}